@model IEnumerable<TP2.Models.Container>

@{
    ViewData["Title"] = "Lista de Containers";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Criar Novo Container</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Número do Container</th>
            <th>Tipo</th>
            <th>Tamanho</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Numero</td>      @* Alterado de NumeroContainer *@
                <td>@item.Tipo</td>
                <td>@item.Tamanho</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
